
.fondo{
  background-color:black;
}
.boton1{
  width:20px;
  color:red;
}
.boton2{
  width:20px;
  color:purple;
}
.boton3{
  width:20px;
  color:blue;
}
.boton4{
  width:20px;
  color:aqua;
}
.text{
  color:white;
}
#cuerpo{
  padding:0px 0px;
  width:300px;
  height:200px;
  background-color:grey;
}
